@import 'breakpoints.scss';
@import 'common.scss';
@import 'variables.scss';
@import 'header.scss';
@import 'headline.scss';
@import 'about.scss';
@import 'tips.scss';
@import 'audience.scss';
@import 'features.scss';
@import 'inbox.scss';
@import 'customers.scss';
@import 'order.scss';
@import 'feedback.scss';
@import 'footer.scss';

*{
   box-sizing: border-box;
   font-family: 'Work Sans', sans-serif;
   font-size: 16px;
}