* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

.page {
  width: 1400px;
  margin: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-section {
  background-color: #F3C6BD;
  padding: 0 130px;
}

.header {
  padding: 39px 0 76px;
}

.header__cap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__image {
  height: 60px;
  border-radius: 14px;
  margin-top: 1px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 9px;
}

.logo__text span:first-child {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

.logo__text span:last-child {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  color: #2B292D;
  opacity: 0.7;
  font-size: 18px;
  line-height: 25px;
}

.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.logo__discription {
  font-size: 20px;
  line-height: 25px;
  color: #2b2920;
  opacity: 0.6;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7px;
  margin-right: 56px;
  width: 292px;
}

.menu__nav-link {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #2B292D;
}

.menu__nav-link--active {
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #2B292D;
}

.menu__arrow {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  background-repeat: no-repeat;
  margin-left: 6px;
  margin-bottom: 2px;
  display: inline-block;
  height: 5px;
  width: 8px;
}

.menu__button {
  width: 160px;
  height: 48px;
  margin-bottom: 14px;
  padding: 17px 28px 18px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.05)), to(rgba(255, 255, 255, 1e-05))), #3040C4;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
  border: transparent;
  border-radius: 2px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  color: white;
  cursor: pointer;
}

.headline {
  height: 533px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  padding-bottom: 77px;
  background-color: #F3C6BD;
}

.headline__content {
  position: relative;
  z-index: 1;
}

.headline__title {
  position: absolute;
  left: -4px;
  margin-top: 0;
  width: 754px;
  height: 165px;
  font-size: 80px;
  line-height: 78px;
  letter-spacing: -0.5px;
  z-index: 1;
}

.headline__description {
  margin-top: 200px;
  margin-bottom: 0;
  height: 102px;
  width: 456px;
  font-size: 24px;
  line-height: 34px;
  z-index: 1;
}

.headline__actions {
  margin-top: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headline__start-btn {
  background-color: #3040c4;
  color: #fff;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}

.headline__more-btn {
  background-color: #fff;
  color: #3040c4;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  margin-top: 0px;
  margin-left: 10px;
  width: 158px;
}

.headline__banner {
  position: absolute;
  top: 8px;
  left: 449px;
  width: 796px;
  height: 448px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 77px 130px 76px;
  width: 1400px;
  background-color: #F4F5F7;
}

.article {
  width: 555px;
}

.article:last-child {
  margin-top: 0;
}

.article__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}

.article__text {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 9px;
}

.customers {
  width: 1140px;
  margin: auto;
  padding-top: 27px;
  padding-bottom: 106px;
}

.customers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers__logo {
  display: block;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.footer {
  width: 1140px;
  height: 50px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.footer-links {
  margin-top: auto;
}
/*# sourceMappingURL=styles.css.map */