$sm:600px;
$md:900px;
$lg:1200px;

@mixin medium {
    @media screen and (min-width:$sm ){
        @content;
    }
}
@mixin large {
    @media screen and (min-width:$md ){
        @content;
    }
}
@mixin xlarge {
   @media screen and (min-width:$lg ){
       @content;
   }
}
@mixin landscape {
    @media screen and (orientation: landscape){
        @content;
    }
}